body {
	color: #fff;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	height: 90vh;

}

header, logo, nav, article, footer { padding: 20px; }

p {
	text-align: center;
	color: black;
}


main {
	display: flex;
	height: auto;
}

up{
	display: flex;
	height: auto;
}

logo {
	background-color: blue;
	height: 50px;
	flex: 1;
	
	
}

header {
	background-color: purple;
	height: 50px;
	flex: 9;
}
	

nav {
	background-color: orange;
	height: auto;
	flex:1;

}
article {
	background-color: deepskyblue;
	min-height: 700px;
	height: auto;
	flex: 9;
}

footer {
	
background-color: green;
	height:auto;
}
