global
    daemon
    maxconn 2000

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

listen http-in
    bind *:80
    server nginx-container1 nginx-container1:80 check
    server nginx-container2 nginx-container2:80 check
    server nginx-container3 nginx-container3:80 check
