.game-field {
    width: 512px;
    background: blue;
}

.card {
    float: left;
    width: 128px;
    height: 128px;
    padding: 5px;

}

.card>img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card-hidden>img{
    visibility: hidden;
}
.card-hidden {
    background-image: url("tlo.png");
    object-fit: fill;
}